.place__subtitle {
  grid-area: subtitle;
}

@media screen and (min-width: 438px) and (max-width: 768px) {
  .place__subtitle {
    width: 95vw;
    margin: 0 16px 30px;
  }
}

@media screen and (max-width: 438px) {
  .place__subtitle {
    width: 90vw;
    margin: 0 16px 30px;
  }
}
