.place__title_width {
  max-width: 585px;
  width: fit-content;
  grid-column-end: subtitle-end;
}

@media screen and (min-width: 690px) and (max-width: 984px) {
  .place__title {
    max-width: 340px;
  }
}
