.places {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

@media screen and (min-width: 768px) and (max-width: 984px) {
  .places {
    width: 94vw;
    gap: 40px;
  }
}

@media screen and (min-width: 438px) and (max-width: 768px) {
  .places {
    gap: 30px;
  }
}

@media screen and (max-width: 438px) {
  .places {
    gap: 18px;
  }
}
