.description__quote-author {
  text-align: right;
  margin: -26px 0 0;
}

@media screen and (min-width: 438px) and (max-width: 690px) {
  .description__quote-author {
    margin: 0;
  }
}

@media screen and (max-width: 438px) {
  .description__quote-author {
    margin: 0;
  }
}
