.header__logo {
  margin: 34px 0 0;
  max-width: 270px;
  max-height: 70px;
}

@media screen and (min-width: 438px) and (max-width: 690px) {
  .header__logo {
    width: 60vw;
    max-width: 250px;
    margin: 20px 0 0;
  }
}

@media screen and (max-width: 438px) {
  .header__logo {
    width: 60vw;
    max-width: 200px;
    margin: 20px 0 0;
  }
}
