.place__frame {
  grid-area: frame;
  background-color: #0278fe;
  width: 355px;
  height: 48px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.place__frame:hover {
  background-color: #0063d2;
  cursor: pointer;
  transition: background-color 0.4s linear;
}

@media screen and (min-width: 438px) and (max-width: 768px) {
  .place__frame {
    align-self: center;
  }
}

@media screen and (max-width: 438px) {
  .place__frame {
    align-self: center;
    max-width: 288px;
    width: 90vw;
  }
}
