.place__link {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  color: #aaa;
  margin-bottom: 8px; /*NO LO ESTA TOMADNO AHROA COMO LINK*/
  text-decoration: none;
  text-transform: uppercase;
}
