.cover__frame {
  position: absolute;
  width: 198px;
  height: 48px;
  z-index: 1;
  top: 449px;
  border-radius: 4px;
  background-color: #0278fe;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover__frame:hover {
  background-color: #0063d2;
  transition: background-color 0.4s linear;
}
